.caveaut {
    font-size: x-small;
}

.warning {
    color: red;
}

#graph-form {
    margin-left: 8px;
}

#graph-title {
    margin-bottom: 10px;
}

#graph-container {
    height:30vh;
    width:60vw;
    margin-bottom: 5vh;
    margin-left: 20%;
}