<h1 class="center">Data Visualization</h1>

<form id="graph-form" #graphsForm="ngForm">
    <p>Start Date: <input name="start-date" type="date" [(ngModel)]="startDate"></p>
    <p>End Date: <input name="end-date" type="date" [(ngModel)]="endDate"></p>
    <p class="caveaut warning" *ngIf="dateRangeError">End Date Must Not Be Before Start Date</p>
    <p>
      Graph Type:
      <select name="graphSelect" [(ngModel)]="graphChoice">
          <option *ngFor="let graphOption of graphOptions" [value]="graphOption.value">{{graphOption.label}}</option>
      </select>
    </p>
    <p class="caveaut">* Leave start and/or end dates empty for no exclusion</p>
    <button [disabled]="loadingActivities" (click)="createGraph()">View</button>
</form>

<h2 id="graph-title" class="center">{{graphTitle}}</h2>

<div id="graph-container" class="center">
  <app-bar-graph *ngIf="graphType === 'bar'" [labels]="labels" [values]="values"></app-bar-graph> 

  <app-pie-chart *ngIf="graphType === 'pie'" [labels]="labels" [values]="values"></app-pie-chart> 
</div>
