.caveaut {
    font-size: x-small;
}

.warning {
    color: red;
}

#graph-form {
    margin-left: 8px;
}

#graph-title {
    margin-bottom: 10px;
}

#graph-container {
    min-height:10vh;
    min-width:20vw;
    margin-bottom: 5vh;
    margin-left: 5%;
    margin-right: 5%;
}