<div class="main-container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/home">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/home">Home</a>
              </li>
          </ul>
          <span class="navbar-text">
              <ng-container *ngIf="currentUser; else notLoggedIn">
                  <span class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" (click)="toggleUserNav()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="userNavExpanded">
                          {{currentUser?.uid}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" (click)="logout()">Logout</a>
                      </div>
                  </span>
              </ng-container>

              <ng-template #notLoggedIn>
                  <a routerLink="/login">Login</a>
              </ng-template>
          </span>
          
      </div>
  </nav>

  <div *ngIf="currentUser">
    <a class="dropdown-item" (click)="logout()">Logout</a>
  </div>

  <router-outlet></router-outlet>

  <div class="flex-for-footer"></div>

  <footer class="page-footer font-small bg-dark pt-4">
      <div class="text-center pb-3">
          Time Tracker
          <br>
          Author: Sam Radford
          <br>
          Date: 7/26/2019
      </div>
  </footer>

</div>