<div class="center" *ngIf="loadingActivities; else activitiesLoaded">
    <fa name="spinner" animation="spin" size="4x"></fa>
</div>




<ng-template #activitiesLoaded>
    <h1 class='center'>Your Activity History</h1>

    <div id="history-filter-container" class="center" *ngIf="allActivities?.length">
      <button (click)="toggleHistoryFilter()">{{filterToggleText}}</button>
      
      <form id="history-form" #historyForm="ngForm" *ngIf="showFilterForm">
          <p>Start Date: <input name="start-date" type="date" [(ngModel)]="startDate"></p>
          <p>End Date: <input name="end-date" type="date" [(ngModel)]="endDate"></p>
          <p class="caveaut warning" *ngIf="dateRangeError">End Date Must Not Be Before Start Date</p>
          <p>
            Search Descriptions: <input name="description-search" type="text" [(ngModel)]="descriptionSubstring">
          </p>
          <p class="caveaut">* Leave start and/or end dates empty for no exclusion</p>
          <button [disabled]="loadingActivities" (click)="filterHistory()">Filter</button>
      </form>
    </div>

    <div id="activity-history-display" *ngIf="organizedActivities?.length; else noActivitesFound">
        <div class="day-of-activities" *ngFor="let day of organizedActivities">
            <div class="center">
                <h2>{{day.date | date: "fullDate"}}</h2>
            </div>
        
            <div class="striped-rows activity-chart" >
              <div class="row">
                <div class = "col-3">Title</div>
                <div class = "col-5">Description</div>
                <div class = "col-3">Time</div>
                <div class = "col-1"> </div>
              </div>
              <div class="row" *ngFor="let activity of day.activities; let index=index">
                  <div class = "col-3">{{activity.name}}</div>
                  <div class = "col-5">{{activity.description}}</div>
                  <div class = "col-3">{{activity.time | secondsToTime}}</div>
                  <div class = "col-1">
                    <button [disabled]="deletingActivity" (click)="deleteActivity(activity); $event.stopPropagation()">
                      <fa name="trash"></fa>
                    </button>
                  </div>
              </div>
            </div>
        </div>
      </div>
    
  
    <ng-template #noActivitesFound>
      <div class="center">
        No Activities To Display
      </div>
    </ng-template>
</ng-template>