<div class="center">
  <h1>{{selectedDate | date: "fullDate"}}</h1>
  <form #dateForm="ngForm">
    <input name="view-date" type="date" [(ngModel)]="pickerDate" required> 
    <button class="btn btn-primary" [disabled]="loadingActivities || deletingActivity || !dateForm.form.valid" (click)="changeDate()">Go To Date</button>
  </form>
</div>

<div class="center">
  <button class="btn btn-primary" [disabled]="loadingActivities || deletingActivity" (click)="openActivityModal()">
      New Activity <fa name="plus"></fa>
  </button>
</div>


<div class="center" *ngIf="loadingActivities; else activitiesLoaded">
    <fa name="spinner" animation="spin" size="4x"></fa>
</div>

<ng-template #activitiesLoaded>
  <div id="activity-list" class="striped-rows" *ngIf="timers?.length; else noActivitesFound">
    <div class="row">
      <div class = "col-3">Title</div>
      <div class = "col-5">Description</div>
      <div class = "col-3">Time</div>
      <div class = "col-1"> </div>
    </div>
    <div class="row" *ngFor="let timer of timers; let index=index" (click)="openActivityModal(timer, index)">
        <div class = "col-3">{{timer.name}}</div>
        <div class = "col-5">{{timer.description}}</div>
        <div class = "col-3">{{timer.time | secondsToTime}}</div>
        <div class = "col-1">
          <button class="btn btn-danger" [disabled]="deletingActivity" (click)="deleteActivity(timer, index); $event.stopPropagation()">
            <fa name="spinner" animation="spin" *ngIf="deletingActivity && index===activityIndex; else notDeletingIndex"></fa>
            <ng-template #notDeletingIndex><fa name="trash"></fa></ng-template>
          </button>
         </div>
    </div>
  </div>

  <ng-template #noActivitesFound>
    <div class="center">
      No Activities Found For This User On This Day
    </div>
  </ng-template>
</ng-template>


<!-- Activity Modal -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>


<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>

      <div class="modal-body">
        <p>Name: <input type="text" name="activityName" [disabled]="savingActivity" [(ngModel)]="modalActivity.name"></p>
        <p>Description: <textarea rows="5" cols="60" name="activityDescription" [disabled]="savingActivity" [(ngModel)]="modalActivity.description"></textarea></p>
        <fieldset>
          <legend>Starting Time Elapsed</legend>
          <p>
            <input type="number" class="inRow" name="startHours" placeholder="HH" [disabled]="savingActivity" [(ngModel)]="startHours">
            <input type="number" class="inRow" name="startMinutes" placeholder="MM" [disabled]="savingActivity" [(ngModel)]="startMinutes">
            <input type="number" class="inRow" name="startSeconds" placeholder="SS" [disabled]="savingActivity" [(ngModel)]="startSeconds">
          </p>
          <button class="btn btn-primary" [disabled]="savingActivity || ticking" (click)="setStartTime()">Set Time Elapsed</button>
        </fieldset>
        
      </div>

      <div class="modal-body">
        <div class="center">
          <p>Time: {{tickingTime | secondsToTime}}</p>
          <button class="btn btn-danger" [disabled]="savingActivity" (click)="toggleTimer()" *ngIf="ticking; else notTicking">Stop</button>
          <ng-template #notTicking>
            <button class="btn btn-primary" [disabled]="savingActivity" (click)="toggleTimer()">Start</button>
          </ng-template>
          <button class="btn btn-warning" [disabled]="savingActivity" (click)="resetTimer()">Reset</button>
        </div>
      </div>

      <div class="modal-footer">
        <ng-container *ngIf="savingActivity; else notSavingActivity">
            <button type="button" class="btn btn-success" disabled>
              Saving... <fa name="spinner" animation="spin" size="1x"></fa>
            </button>
        </ng-container>
        <ng-template #notSavingActivity>
          <button type="button" class="btn btn-success" [disabled]="ticking || !modalActivity?.name?.length" (click)="saveActivity()" >Save</button>        
        </ng-template>
        <button type="button" class="btn btn-danger" [disabled]="ticking || savingActivity" (click)="cancelModal()" >Cancel</button>
      </div>

    </div>
  </div>
</div>

